.about{
    background-color: #1B262F;
}

.about .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.about__left{
    max-width: 445px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__title{
    font-family: 'DM Serif Display','Arial',sans-serif;    
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #FBFCFE;
    margin: 0;
    margin-bottom: 24px;
}

.about__text{
    color: #FBFCFE;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    mix-blend-mode: normal;
    margin-bottom: 42px;
}

.about__link{
    padding: 16px 32px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    color: #FBFCFE;

    &:hover{
        background-color: #ffffff;
        color: #1B262F;
        font-weight: bold;
    }
}

.logo{
    margin: auto 0;
}

.logo__list{
    max-width: 536px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: auto 0;

}

.logo__item{
   &--st{
       margin-bottom: 39px;
   }
}

@media only screen and (max-width:920px){
    .about .container{
        flex-direction: column-reverse;
    }

    .about__left{
        margin: 0 auto;
        text-align: center;
        padding-top: 0;
    }

    .logo{
        margin: 0 auto;
        padding-top: 86px;
        margin-bottom: 65px;
    }

}

@media only screen and (max-width:460px){
    .logo__list{
        max-width: 280px;
        justify-content: space-between;
    }
    
    .logo__item--th{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:425px){
    .about__title{
        font-size: 32px;
        line-height: 36px;
    }

}

