.ready-section .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}


.ready__title{
    font-family: 'DM Serif Display','Arial',sans-serif;    
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    margin: 0;

}

.ready__input{
    max-width: 445px;
    padding-right: 200px;
    width: 100%;
}

@media only screen and (max-width:768px){
    .ready-section .container{
        flex-direction: column;
    }

    .ready__title{
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .ready__form{
        margin: 0 auto;
    }
}

@media only screen and (max-width:425px){
    .ready-section .container{
        flex-direction: column;
    }

    .ready__title{
        text-align: center;
    }

    .ready__form{
        text-align: center;
    }

    .ready__input{
        max-width: 325px;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
}






